* {
  font-family: sans-serif;
}

html {
  background-image: linear-gradient(#87cefa, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

#login-border {
  border-radius: 25px;
  background-color: rgba(236, 236, 236, 0.75);
  padding: 75px 175px;
  margin: 20px 20px;
  position: relative;
  text-align: center;
}

.login-button {
  border: 1px solid;
  border-color: #d5d5d5;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  width: 100px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(75, 185, 253);
  color: white;
}

.login-button:hover {
  background-color: lightgray;
}

.login-button:active {
  background-color: darkgray;
}

.login-credentials {
  border: 2px solid #b8c1c5;
  border-color: #d5d5d5;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  padding: 8px;
  cursor: text;
}

#user-icon > img {
  position: absolute;
  top: -85px;
  left: 200px;
  width: 30%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  html {
    background: rgba(236, 236, 236, 0.75);
  }

  .flexbox-container {
    display: flex;
    justify-content: flex-start;
  }

  #login-border {
    font-size: 25px;
  }

  .login-button {
    width: 200px;
    height: 40px;
  }
}
