* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#87cefa, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 30px;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.search-text-box {
  display: flex;
  align-items: center;
  margin: 20px 0;
  height: 40px;

}
.search-border {
  border-radius: 25px;
  background-color: rgba(236, 236, 236, 0.75);
  padding: 40px 30px;
  position: relative;
  width: 100%;
  max-width: 700px;
}

.search-button {
  border: 1px solid;
  border-color: #d5d5d5;
  border-radius: 10px;
  width: 100px;
  height: 100%;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px 0;
  background-color: rgb(33, 166, 248);
  color: white;
}

.search-button:hover {
  background-color: lightgray;
}

.search-button:active {
  background-color: darkgray;
}

.search-lookup {
  border: 2px solid #b8c1c5;
  border-color: #d5d5d5;
  border-radius: 6px;
  padding: 8px 0;
  padding-left: 10px;
  height: 100%;
  width: 100%;
}


.weather-search-results {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
}

.search-results {
  padding-top: 20px;
}


.temp {
  font-weight: bold;
  font-size: 32px;
}

.flex-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-left {
  width: 50%;
}

.result-left > * {
  margin-top: 10px;
}

.result-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.result-right > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .search-lookup {
    /* width: 100%; */

  }
  .flex-results {
    flex-direction: column-reverse;
    }

  .result-left  {
    width: 100%;
    padding-top: 20px;
  }

  .result-right {
    width: 100%;
    height: 100px;
  }
}
